@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: rgb(46, 46, 46);
  background: rgb(243, 243, 243);
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    #333 url(spiderman.jpg) no-repeat center center / cover;
  color: #ccc;
  overflow: hidden;
}

h1 {
  font-weight: 400;
  margin: 0.4rem;
  font-size: 4rem;
}

.main {
  height: 100vh;
  margin-top: 8rem;
}

#welcome {
  width: 75%;
  text-align: center;
  margin: auto;
}

#welcome h2 {
  font-size: 6rem;
  font-weight: 200;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    rgb(31, 226, 226),
    rgb(6, 6, 207),
    rgb(124, 68, 255),
    rgb(255, 35, 35),
    rgb(255, 158, 31),
    rgb(236, 233, 60),
    rgb(0, 236, 126),
    rgb(45, 255, 238)
  );
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: hue;
  -webkit-background-clip: text;
  animation: animate 60s linear infinite;
  background-size: 1000%;
}

@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

#welcome p {
  margin-top: 2rem;
  line-height: 2;
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 2.8rem;
  }

  #welcome h2 {
    font-size: 4rem;
  }

  #welcome p {
    margin-top: 2rem;
    line-height: 2;
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}
